/* Estilos para el fondo del body */
body {
    background-image: url("../img/fondo_unjfsc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Estilos para el formulario */
fieldset {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 2px solid #45bceb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el h1 */
h1 {
    color: #1414ee; /* Celeste más oscuro */
    text-align: center;
}

h2 {
    color: #1414ee; /* Celeste más oscuro */
    text-align: left;
}

h3 {
    text-align: justify;
}

/* Estilos para la lista dentro de la tabla */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #00539C; /* Celeste más claro */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1E88E5; /* Celeste más oscuro */
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #E6F7FF;
}

tr:nth-child(odd) {
    background-color: #B3E0FF;
}